.share-buttons {
  display: flex;
  gap: 0.5rem;                  /* 8px */
  margin-top: 0.5rem;            /* 8px */
}

.share-button {
  display: inline-flex;
  width: 3rem;                   /* 48px */
  height: 3rem;                  /* 48px */
  color: #333;
  align-items: center;
  border-radius: 0.5rem;         /* 8px */
  justify-content: center;
  text-decoration: none;
  transition: color 0.2s ease, background 0.2s ease;
  user-select: none;
}

.share-button:hover,
.share-button:active,
.share-button:focus {
  color: #000;
  background-color: rgb(0 0 0 / 5%); /* rgb(0 0 0 / 5%) */
}

.share-icon {
  width: 1.5rem;                 /* 24px */
  height: 1.5rem;                /* 24px */
  user-select: none;
}
